.card {
    width: 100%;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-inner {
    width: 100%;
    border: 1px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card-outer {
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.card-bottom {
    width: 100%; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-radius: 10px;
}
.cards {
    width: 70%;
    min-width: 300px;
    text-align: left;
    text-indent: 10px;;
    display: flex;
    flex-direction: column;
}

.filter-search {
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
}

.filter-date-search {
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
}

.filter-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.filter-radio-button {
    margin-left: 10px;
    margin-right: 10px;
}