
.cardHeader {
    width: 90%;
    text-align: left;
  }
  .cardFooter {
    width: 90%;
    text-align: right;
  }
  .outerContainer {
    width: 95%;
    height: 95%;
    background-color: #cccccc;
    border-radius: 10px;
    padding: 10
  }
  .softContainer {
    background-color: white;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 10px;
    width: 100%;
  }
  .cardBody {
    background-color: white;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 10px;
    width: 90%;
  }
  .title {
    text-align: left;
    font-size: 50;
    padding-bottom: 15;
  }
  .truckNum {
    font-size: 20;
  }
  .truckTotal {
    font-size: 20;
  }
  .driver {
    font-size: 20;
  }