.softContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 10px;
}
.form-fgt-pass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 20%;
    min-width: 300px;
}
.form-verify-otp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    min-width: 300px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }