.link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container {
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.link {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 10px;
    color: rgba(255, 255, 255, 0.87);
}

.link:hover {
    border-color: #646cff;
    color: rgba(255, 255, 255, 0.87);
}

.link:focus,
.link:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.logo {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

.input-field {
    width: 100%;
    border: 1px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.input-field:focus {
    outline: none !important;
}

.container-inner {
    padding: 50px;
    border: 1px;
    border-radius: 20px;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 20%;
    min-width: 300px;
}

.login-btn {
    width: 100%;
}

.input-label {
    width: 100%;
    text-align: left;
    padding-bottom: 5px;
}

.back-button {
    position: fixed;
    top: 1%;
    left: 1%;
    color: white;
}

.back-button .icon2 {
    display: none;
}

.back-button:hover .icon1 {
    display: none;
}

.back-button:hover .icon2 {
    display: block;
}

.Logo-header2 {
    position: fixed;
    top: 0%;
    width: 400px;
}

.Logo-header {
    position: relative;
    width: 400px;
}

.Logo-header img {
    width: 100%;
    height: 100%;
}

.logo-left {
    position: relative;
    width: 250px;
    right: 35%;
}

.header {
    position: fixed;
    z-index: 999;
    top: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    background-color: #202020;
    box-shadow: 0 4px 2px #242424;
}