.option-button {
    margin-right: 20px;
    margin-bottom: 0px;
    width: 120px;
    text-align: center;
    font-size: large;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
.option-button:hover {
    background-color: #646cff;
    box-shadow: 0px 5px 10px rgba(100, 108, 255, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.user-options {
    width: 100%;
    display: flex;
    justify-content: right;
}

.home-btns {
    width: 250px;
    height: 250px;
    margin: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
.home-btns:hover {
    background-color: #646cff;
    box-shadow: 0px 10px 15px rgba(100, 108, 255, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.home-bts-container {
    display: flex;
    flex-wrap: wrap;
}

.logo-header2 {
    padding: 30px;
    max-width: 600px;
}
