.inputHeader {
    font-size-adjust: 30;
    height: 100%;
  }
.pageTitle {
    font-size: 50;
    font-weight: bold;
  }
.softContainer {
    background-color: white;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 80%;
    margin: 10;
  }
.outerContainer{
    background-color: white;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 10px;
    flex: 1;
    width: 80%;
    margin: 10;
    padding: 10;
  }