.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 300px;
    width: 300px;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, .1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .1);
    transition: all 0.3s ease 0s;
}
.user-info-container:hover {
    background-color: #2b2b2b;
    box-shadow: 0px 4px 8px rgba(43, 43, 43, 0.4);
    color: #fff;
    transform: translateY(-1px);
}
.info {
    text-align: left;
    min-width: 300px;
}

.filter-search {
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
}

.filter-date-search {
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
}

.filter-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.filter-radio-button {
    margin-left: 10px;
    margin-right: 10px;
}

.delete-x {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 25px;
    height: 25px;
    padding-right: 5px;
    display: flex;
}
.delete-x:hover {
    cursor: pointer;
    color: red;
}
